/*

Template 2092 Shelf

http://www.tooplate.com/view/2092-shelf

*/

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	/* font-size: 18px; */
	background: url('../img/shelf-bg.jpg');
	padding: 0 15px;
	overflow-x: hidden;
	min-width: 400px;
}

a,
button {
	transition: all 0.3s ease;
}

a:hover,
a:focus {
	text-decoration: underline;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.4;
}

h5 {
	font-style: bold;
}

p {
	line-height: 1.8;
	margin-bottom: 0;
}

p,
.tm-gallery-item .tm-figcaption {
	color: #333;
}

.tm-font-thin {
	font-weight: 300;
}

button {
	cursor: pointer;
	border: none;
}

button:focus {
	outline: none;
}

.container {
	background-color: white;
	max-width: 1120px;
	padding: 0;
	margin: 0 auto;
}

.tm-btn {
	display: inline-block;
	font-size: 1.2rem;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	width: 160px;
}

.tm-btn-blue {
	color: white;
	background-color: #186e9d;
}

.tm-btn-blue:hover,
.tm-btn-blue:focus {
	color: white;
	background-color: #389fd7;
}

.tm-btn-gray {
	color: #186e9d;
	background-color: #ededed;
}

.tm-btn-gray:hover,
.tm-btn-gray:focus {
	background-color: #c6c6c6;
}

.tm-green-text {
	color: #C5F9D0;
}

.tm-site-header-text {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50px 15px 50px 15px;
	padding: 6%;
}

.tm-site-name {
	font-size: 3.2rem;
	font-weight: bolder;
	text-transform: uppercase;
}

.tm-site-description {
	font-size: 1.4rem;
}

.tm-site-header-subtitle {
	background-color: #076599;
	border-radius: 5px;
	padding: 5px 10px;
	width: fit-content;
}

.tm-site-name,
.tm-site-header-subtitle,
.tm-site-description {
	color: white;
	text-shadow: 0px 3px 2px rgba(62, 62, 62, 1);
}

.tm-site-header {
	border-bottom: 10px solid #076599;
	background-color: darkolivegreen;
	background-image: url('../img/headerAmenagementPaysager01.jpeg');
	background-clip: padding-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	padding: 2% 5%;
}

.tm-main-content {
	padding: 35px 30px;
}

.tm-main-title {
	color: #6C6C6C;
	margin-bottom: 1.2rem;
}

.tm-section-header {
	color: #186e9d;
	background-color: #ededed;
	border-radius: 5px;
	padding: 5px 10px;
}

.tm-section-header-arrow {
	vertical-align: top;
	float: right;
	font-weight: bolder;
	padding: 3px;
}

.tm-gallery {
	padding-top: 15px;
	padding-bottom: 25px;
	margin: 0 auto;
}

.tm-gallery .row {
	margin-left: -10px;
	margin-right: -10px;
}

.tm-gallery-item-preview {
	max-width: max-content;
	max-height: max-content;
}

.tm-gallery-item {
	padding-left: 10px;
	padding-right: 10px;
}

.tm-gallery-item img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/* https://codepen.io/nxworld/pen/ZYNOBZ */
.tm-gallery-item-overlay {
	background: #0066CC;
	max-width: 240px;
	margin-left: auto;
	margin-right: auto;
}

.tm-gallery-item:hover img {
	opacity: 0.5;
}

.tm-gallery-item:hover .tm-figcaption {
	color: #186e9d;
}

.tm-img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}

.tm-img-center-sm {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tm-figcaption {
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;
}

.media-body {
	-ms-flex: 1;
	flex: 1 1 auto;
	width: 100%;
}

.tm-margin-b-l {
	margin-bottom: 15px;
}

.tm-margin-b-ll {
	margin-bottom: 80px;
}

.tm-margin-b-xl {
	margin-bottom: 100px;
}

.tm-margin-b {
	margin-bottom: 25px;
}

.tm-margin-b-30 {
	margin-bottom: 30px;
}

.tm-margin-b-p,
p.tm-margin-b-p {
	margin-top: 10px;
	margin-bottom: 15px;
}

.tm-margin-r-20 {
	margin-right: 20px;
}

.tm-margin-b-s {
	margin-bottom: 8px;
}

.no-pad-b {
	padding-bottom: 0;
}

.tm-small-pad {
	padding: 40px 35px;
}

.tm-highlight {
	background-color: #076599;
	color: white;
	padding: 50px 30px;
}

.tm-highlight-w-icon {
	flex-flow: column;
}

.tm-highlight-icon {
	padding: 0 0 30px 0;
}

.tm-highlight p {
	color: white;
}

.tm-white-bordered-btn {
	color: white;
	border: 1px solid white;
	padding: 10px 25px;
	display: inline-block;
}

.tm-white-bordered-btn:hover,
.tm-white-bordered-btn:focus {
	background-color: white;
}

.tm-fa-6x {
	font-size: 6em;
}

.tm-h3 {
	font-size: 1.5rem;
}

footer {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 15px;
	text-align: center;
}

footer a {
	color: white;
}

footer a:hover {
	color: #FF3;
}


.form-control {
	border: 1px solid rgba(0, 0, 0, 0.37);
	border-radius: 0;
	font-size: 1.2rem;
	padding: .75rem .75rem;
}

.form-control:focus {
	border-color: #076599;
}

.tm-overflow-auto {
	overflow: auto;
}

#google-map {
	height: 360px;
	width: 100%;
}

@media (max-width: 390px) {
	.tm-site-name {
		font-size: 1rem;
	}

	.tm-site-description {
		font-size: 0.25rem;
	}
}

@media (max-width: 550px) {
	.tm-site-name {
		font-size: 1.2rem;
	}

	.tm-site-description {
		font-size: 0.5rem;
	}
}

@media (max-width: 650px) {
	.tm-site-name {
		font-size: 2.5rem;
	}

	.tm-site-description {
		font-size: 1rem;
	}
}

@media (min-width: 576px) {
	.tm-main-content {
		padding: 30px 50px 70px;
	}

	.tm-main-content.no-pad-b {
		padding: 30px 50px 0;
	}

	.tm-gallery {
		max-width: 500px;
	}

	.tm-highlight {
		padding: 40px;
	}

	.tm-highlight-w-icon {
		flex-flow: row;
	}

	.tm-highlight-icon {
		padding: 20px 50px 0 0;
	}
}

@media (min-width: 768px) {
	.tm-gallery {
		max-width: 760px;
	}

	.tm-highlight {
		padding: 50px 100px;
	}

	.tm-small-pad {
		padding: 40px 35px;
	}

	.tm-img-center-sm {
		margin-left: 0;
	}
}

@media (min-width: 992px) {
	.tm-site-header {
		height: 400px;
	}

	.tm-gallery {
		max-width: none;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1120px;
	}

	.tm-site-header {
		height: 500px;
	}
}
